.button {
  display: block;
  padding: 5px 15px;
  background-color: var(--bg-button-color);
  color: var(--text-secondary);
  border-radius: 5px;
  border: none;
  line-height: 14px;

  &-mute {
    background-color: var(--button-mute-bg-color);
  }

  &-send {
    background-color: var(--button-send-bg-color);
  }

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  &-mute:hover {
    opacity: 1;
    cursor: auto;
  }
}
