.container {
  display: grid;
  grid-template-areas: 'aside main';
  grid-template-columns: var(--width-left-column-app) 1fr;
  grid-template-rows: 100vh;
  max-width: var(--max-width-app);
  margin: 0 auto;
  background-color: var(--bg-color);
}
