.sidebar {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  background-color: var(--bg-sidebar-color);
  padding-left: 20px;
  padding-top: 30px;

  & > * + * {
    margin-top: 10px;
  }

  &__title {
    margin: 0;
  }
}


