<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="/dist/styles.css" />
  </head>

  <body>
    <div class="container">
      <aside class="sidebar">
        <p class="sidebar__title">Сортировка</p>
        <button class="button">по городу</button>
        <button class="button">по компании</button>
      </aside>

      <main class="main">
        <h2 class="main__header">Список пользователей</h2>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <section class="card">
          <div class="card__body">
            <p class="card__body-key">
              ФИО:<span class="card__body-value">Иван Иванов</span>
            </p>
            <p class="card__body-key">
              город:<span class="card__body-value">Москва</span>
            </p>
            <p class="card__body-key">
              компания:<span class="card__body-value">ООО “Пример”</span>
            </p>
          </div>
          <a class="card__link" href="#">Подробнее</a>
        </section>

        <p class="users-total">Найдено 10 пользователей</p>
      </main>
    </div>
  </body>
</html>
