.container {
  max-width: var(--max-width-app);
  margin: 0 auto;
  background-color: var(--bg-color);

  @media (min-width: 425px) {
    display: grid;
    grid-template-areas: 'aside main';
    grid-template-columns: var(--width-left-column-app) 1fr;
    grid-template-rows: 100vh;
  }
}

.main {
  grid-area: main;
  overflow-y: auto;
  padding-left: 34px;
}

.sidebar {
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  background-color: var(--bg-sidebar-color);
  padding-bottom: 10px;

  @media (min-width: 425px) {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    padding-left: 20px;
    padding-top: 30px;
  }

  & > * + * {
    margin-top: 10px;
  }
}
