.card {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width-card);
  padding: 10px;
  background-color: var(--bg-card-color);
  border-radius: 8px;
  margin-bottom: 24px;
  &:last-of-type {
    margin-bottom: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 11px;
    line-height: 13px;

    &_key,
    &-key {
      color: var(--text-muted);
    }

    &_value,
    &-value {
      margin-left: 7px;
      color: var(--text-primary);
    }

    & > * + * {
      margin-top: 8px;
    }
  }

  &__link {
    align-self: flex-end;
    color: var(--text-secondary);
  }
}
