.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
}
